:root{
   --dark-color :#19283f;
   --green-color:#33d1cc;
   --red-color:#ff3150;
   --yellow-color:#ffc400;
   --section-color:#eff7fa;
   
}
html, body{
    overflow-x: hidden;
}
/* start componants */
.main-btn{
   color: var(--yellow-color);
   background-color:var(--red-color) ;
   border-color: transparent;
   padding: .5rem 1rem;
   
}
.main-btn:focus,
.main-btn:hover{
   box-shadow: none;
   color: var(--yellow-color);
   background-color: var(--red-color);
   border-color: transparent;
}
.main-title::after{
   content: "";
   background-color: var(--green-color);
   width: 120px;
   height: 2px;
   position: absolute;
   border-bottom: 1px solid var(--green-color);
   left: 50%;
   transform: translateX(-50%);
   bottom: -10px;
}
/* end componants */
body {
   font-family: "Roboto", sans-serif;

}
.navbar{
   background-color: var(--dark-color);
}
.navbar button{
   color: white;
   font-size: 25px;
   border-color: white;
}
.navbar button[aria-expanded="true"]{
   border-color: var(--green-color);
}
.navbar button:focus{
   box-shadow: none;
}
.navbar .nav-link{
   color: white;
}
.navbar .nav-link.active,
.navbar .nav-link:hover,
.navbar .nav-link:focus{
   color: var(--green-color);
}
.navbar .search{
   border-left: 1px solid var(--green-color);
}
.navbar .search svg{
   color: var(--green-color);
}
/* landing section  */
.landing{
   background-color: var(--dark-color);
   height: calc(100vh - 60px);
}
/* landing section  */
/* start fetures section  */

.features .main-title::after{
   content: "";
   background-color: var(--green-color);
   width: 120px;
   height: 2px;
   position: absolute;
   border-bottom: 1px solid var(--green-color);
   left: 50%;
   transform: translateX(-50%);
}
.features .icon-holder{
   height: 200px;
}
.features .feat h4{
   color: var(--yellow-color);
}
.features .icon-holder .number{
   font-size: 12rem;
   color: var(--section-color);
   left: 50%;
   transform: translateX(-50%);
}
.features .icon-holder svg{
   left: 50%;
   transform: translateX(-50%);
   color: var(--green-color);
}
/* end fetures section  */

/* our work  */

.our-work{
   background-color: var(--section-color);
}
.our-work .main-title::after{
   content: "";
   background-color: var(--green-color);
   width: 120px;
   height: 2px;
   position: absolute;
   border-bottom: 1px solid var(--green-color);
   left: 50%;
   transform: translateX(-50%);
}
.our-work li{
   padding: .5rem 1rem;
   cursor: pointer;

}
.our-work ul li:not(.active):hover{
   color: var(--red-color);
   
}
.our-work .box{
   background-color: white;
   padding: 5px;
   overflow: hidden;
}
.our-work .box::before {
   content: attr(data-work);
   background-color: #33d1ccd1;
   position: absolute;
   width: calc(100% - 10px);
   height: calc(100% - 10px);
   transition: .3s;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   font-weight: bold;
   font-size: 1.5rem;
   transform: translateX(calc(-100% - 5px));
}
.our-work .box:hover::before{
   transform: translateX(0);
}
/* our work  */

/* strat our team section  */
.our-team{
   background-color: var(--section-color);
}
.our-team .box {
   background-color: white;
}
.our-team .text h1{
color: var(--yellow-color);
font-weight: bold;
font-size: 2rem;
}
.our-team .box h4{
   background-color: var(--green-color);
   color: white;
  
}
.our-team .box blockquote{
   background-color: white;
}

/* end our team section  */


/* start projects  */

.projects{
   background: var(--dark-color);
}

/* end projects  */


/* strat sbscribe section  */

.subscribe{
   background-color: var(--yellow-color);
}
.subscribe.text{
   color: var(--dark-color);
}
.subscribe input[type="text"] {
   border: none;
   border-bottom: 1px solid white;
}
.subscribe ::placeholder{
   color: white;
}
.subscribe input[type="text"]:focus{
   outline: none;
}
.subscribe input[type="submit"] {
   background-color: var(--dark-color);
   color: var(--yellow-color);
}
/* end sbscribe section  */


/* start footer  */

footer{
   background-color: var(--dark-color);
}
footer span:first-child{
   color: var(--green-color);
}
footer span:nth-last-child(1){
   color: var(--yellow-color);
}
footer ul li{
   margin-bottom: .5rem;
}
footer .gmail-btn{
   padding-left: 1.5rem;
   width: 350px;
   margin-top: 1rem;
}
footer .social li svg{
   width: 20px;
   height: 20px;
}
footer .fa-facebook {
   background-color: #1877f2;
}
footer .fa-x-twitter{
   background-color: #14171a;
}
footer .fa-linkedin{
   background-color: #0a66c2;
}
footer .fa-youtube{
   background-color: #ff0000;
}
/* end footer  */
