html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
}
:root{
    --main-color:#0095d9;
}
.navbar-brand{
    background-color: var(--main-color);
    color: white;
    width: 90px;
    height: 90px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: .3s;
    text-transform: uppercase;
    font-weight: 700;
    padding-inline: 10px;
}
.navbar-brand img{
    width: 100%;
    height: 100%;
}
.navbar-brand:hover{
    transform: translateY(-5px);
    color: white;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.navbar .navbar-toggler span{
    color: white;
    background-color: var(--main-color);
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 40px;
    transition: .3s;
}
.navbar .navbar-toggler span:hover{
    background-color: grey;
    color: var(--main-color);
}
.offcanvas-end{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
}
.offcanvas-body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}
.navbar .navbar-link{
    color: white;
    font-weight: 700;
}
.btn-close {
    font-size: 40px;
    color: white;
}

/* start  landing */

.landing{
    padding-block: 50px;
    background-color: #141313;
    background-image: url(../images/World-Map-Grey.png);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}
.landing::before{
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.landing .box{
    margin-top: 200px;
    color: white;
    position: relative;
}
.landing .box h1{
    font-size: 80px;
}
.landing .box h1 span{
    color: var(--main-color);
    font-weight: 800;
}
@media(max-width:767px){
    .landing .box h1{
        font-size: 32px;
    }
}
.landing .box p{
    font-size: 20px;
    font-weight: 600;
}
 .box .btn{
    background-color: var(--main-color);
    color: white;
    padding:15px 30px;
    font-size: 24px;
}
.landing video{
    border-radius: 12px;
    margin-top: 80px;
    position: relative;
}
/* end  landing */

/* start features  */

.features{
    background-color: #141313;
    padding-inline: 20px;    
}
.features h1{
    color: white;
    font-size: 80px;
}
.features h1 span{
    color: var(--main-color);
}
@media(max-width:767px){
    .features h1{
        font-size: 32px;
    }
}
.features .box{
    padding-top: 120px;
}
.features .box p{
    margin-top: 40px;
    color: white;
    font-size: 24px;
    font-weight: 600;
}
.features .box a{
    display: flex;
    margin-top: 50px;
    text-decoration: none;
}
.features .box-list p{
    color: white;
    font-size: 18px;
}
#blue{
    color: var(--main-color);
}
/* end features  */

/* start system  */

.system{
    padding-top: 150px;
    padding-inline: 30px;
}
.system .head h1{
    font-size: 70px;
    font-weight: 700;
}
@media(max-width:767px){
    .system .head h1{
        font-size: 32px;
    }
}
.system .head p{
    margin-top: 40px;
    font-size: 20px;
}
.system .box{
    border-radius: 15px;
    background-color: #ededee;
    padding: 20px;
    min-height: 415px;
    margin-bottom: 25px;
}
.system .box .logo svg{
    width:80px;
    color: blue;
    fill: var(--main-color);
}
.system .box p{
    height: 100%;
    display: flex;
    align-items: center;
}
/* end system  */

/* start testmonial  */

.testmonial{
    padding:40px 15px;

}
.testmonial h1{
    font-size: 70px;
    font-weight: 700;
    color: black;
    margin-top: 50px;
}
@media(max-width:767px){
    .testmonial h1{
        font-size: 32px;
    }
}
.testmonial p{
    font-size: 20px;
    font-weight: 600;
}
.testmonial .img-box{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}
.testmonial .img-box img{
    width: 100%;
    height: 100%;
}
/* end testmonial  */

/* start booking  */

.booking{
    padding: 50px 15px;

}
.booking .box{
    background-color: #141313;
    background-image: url(../images/World-Map-Grey.png);
    background-position: center;
    background-size: contain;
    text-align: center;
    padding: 100px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}

.booking .box::before{
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, .3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.booking h1{
    color: white;
    font-size: 70px;
    font-weight: 700;
    position: relative;
}
@media(max-width:767px){
    .booking .box{
        padding: 15px;
    }
    .booking .box h1{
        font-size: 24px;
    }
    .booking .box .btn{
        padding: 10px 5px;
        font-size: 20px;
    }
}
/* end booking  */


/* start about page  */

.about{
    background-color: #141313;
    padding-block: 40px;
    min-height: 100vh;
}
.about .box{
    margin-top: 150px;
}
.about h1{
    font-size: 70px;
    color: white;
}
.about p{
    font-size: 24px;
    line-height: 1.7;
}
.about .btn{
    background-color: var(--main-color);
    color: white;
    font-size: 24px;
    padding: 10px 25px;
} 
#bg{
background-color: #141313;
}
/* end about page  */


/* start contact page  */

.contact{
    background-color: #141313;
    padding-block: 40px;
}
.contact .box{
    margin-top: 150px;
}
.contact .box h1{
    color: white;
    font-size: 70px;
    font-weight: 800;
}

/*start form  */

  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box form button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    border: none;
    background-color: var(--main-color);
    color: white;
    width: 100%;
    border-radius: 12px;
    font-size: 24px;
  }
  .login-box form button a{
    text-decoration: none;
    color: white;
  }
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(1) {
    bottom: 2px;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--main-color));
    animation: btn-anim1 2s linear infinite;
  }

/*end form  */
/* end contact page  */